<div ng-class="myColspan">
    <div class="form-group">
        <label>
            <label class="control-label"
                   ng-bind="label">

            </label>
            <label style="color: red" ng-if="ngRequired">
                <i class="fa fa-asterisk"></i>
            </label>

        </label>
        <input type="text"
               class="form-control"
               ng-model="ngModel"
               ng-required="ngRequired"
               maxlength="{{maxlength}}"
        >
    </div>
</div>